# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

+ Popular languages for Data Science
+ Commonly used libraries used by Data Scientists
+ Some development environment open source tools used in data science.
+ Few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. TensorFlow
3. Matplotlib
4. NumPy

| Data Science Tools |
| ------------------ |
| Jupyter Notebook |
| RStudio |
| Visual Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200//60

3

## Author
Angeli Diaz